<div class="detail-container">
  <div class="detail-header">
    <h1>New Attendance</h1>
  </div>

  <%= render "form", attendance: @attendance %>

  <div class="detail-actions">
    <%= link_to attendances_path, class: "btn btn-light" do %>
      <i class="fas fa-arrow-left mr-2"></i>Back
    <% end %>
  </div>
</div>
